<a href="https://colab.research.google.com/github/runyiakoso/FoodXplora-Runyi/blob/master/Python_project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("The name of the Company is Carsons Ltd.")

The name of the Company is Carsons Ltd.

In [ ]:
 print("The Company was establised in", 1996)

The Company was establised in 1996

In [ ]:
##information is stored in variables
company_name = 'Car sons Ltd'
print('The name of the company is', company_name)

The name of the company is Car sons Ltd

In [ ]:
year_started = 1996
print('The year the company was establised was in', year_started)

The year the company was establised was in 1996

In [ ]:
company_turnover = '$12billion'
print("The company's total turnover for", year_started, 'is', company_turnover)

The company's total turnover for 1996 is $12billion

In [ ]:
##Datatypes
type(year_started)

int

In [ ]:
type(company_turnover)

str

In [ ]:
test1 = 123.5
type(test1)

float

In [ ]:
test2= "123"
type(test2)

str

In [ ]:
##Basic Operators
price_sedan = 0.2
print('The Price of 1 Sedan Car is $', price_sedan)
price_updated = price_sedan + price_sedan
print("The price of 2 Sedan Cars is", price_updated)

The Price of 1 Sedan Car is $ 0.2
The price of 2 Sedan Cars is 0.4

In [ ]:
test3 = 10
test4 = 20
print(test4/2)

10.0

In [ ]:
'10'+'10' ##concatenate

'1010'

In [ ]:
"10" * 4

'10101010'

In [ ]:
##sales for the first 10 orders of Sedan cars
price_final=price_sedan * 10
print("Price of 10 Sedan cars in Millions $ is", price_final)

Price of 10 Sedan cars in Millions $ is 2.0

In [ ]:
downtime_hours = 30
total_time = 240
average_downtime = downtime_hours/total_time
print("The average downtime hours for the last month is", average_downtime)

The average downtime hours for the last month is 0.125

In [ ]:
total_employees = 1568
safety_incidents = 44
safety_per_employee = safety_incidents/total_employees
print("the safety incidents per employee is", safety_per_employee)

the safety incidents per employee is 0.02806122448979592

In [ ]:
##Data structure
##List - to store multiple information
cars_type = ['Sedan','Hatchback','SUV',"MUV"]
print('Cars:', cars_type)

Cars: ['Sedan', 'Hatchback', 'SUV', 'MUV']

In [ ]:
milleage = [15, 19, 12,18]
milleage[0]

15

In [ ]:
milleage[-1]

18

In [ ]:
milleage[0:2]

[15, 19]

In [ ]:
milleage[1:3]

[19, 12]

In [ ]:
milleage1 = [15, 19, 12, 18, 45, 50]
milleage1[1:1]=[4,5,6]
print(milleage1)
##print(milleage1[7:9])
print(milleage1[-2:])

[15, 4, 5, 6, 19, 12, 18, 45, 50]
[45, 50]

In [ ]:
sales = [200,652,412,123]
print("The sales values to date are:")
print('sedan:',sales[0])
print('Hatchback:',sales[1])
print('MUV:',sales[2])
print('SUV:', sales[3])
total_sales=sum(sales)
total_sales

The sales values to date are:
sedan: 200
Hatchback: 652
MUV: 412
SUV: 123

1387

In [ ]:
sales.pop(-1)
print(sales)

[200, 652, 412]

In [ ]:
##Tuples - immutable- for fixed values
test=(1,2,3)
type(test)
test[1]
test[0]=20
test
##means, values in tuples cant be changed, hence the error.

TypeError: 'tuple' object does not support item assignment

In [ ]:
##To change elements in tuple, changet the tuple to list
test= list(test)
type(test)
test[0]= 10
test=tuple(test)
test

(10, 2, 3)

In [ ]:
sitting = (5,4,6,8)
print('the number of seats for each type of car are', sitting)
type(sitting)

the number of seats for each type of car are (5, 4, 6, 8)

tuple

In [ ]:
car_engine_size =(2200,2800,2500,2000)
print("The engine size for each car is:")
print("Sedan:",car_engine_size[0])
print("Hatchback:", car_engine_size[1])
print("MUV:", car_engine_size[2])
print("SUV:", car_engine_size[3])

The engine size for each car is:
Sedan: 2200
Hatchback: 2800
MUV: 2500
SUV: 2000

In [ ]:
##Dictionary - Key/value pair
test={
    'name' : 'Runyi',
    'age' : 18,
    'state': 'Lagos'
}
test

{'name': 'Runyi', 'age': 18, 'state': 'Lagos'}

In [ ]:
type(test)

dict

In [ ]:
test['name']

'Runyi'

In [ ]:
 test['name'] ='Mike'
 test

{'name': 'Mike', 'age': 18, 'state': 'Lagos'}

In [ ]:
test['state'] = ['Delta', 'Osun']
test

{'name': 'Mike', 'age': 18, 'state': ['Delta', 'Osun']}

In [ ]:
test.keys()

dict_keys(['name', 'age', 'state'])

In [ ]:
test.values()

dict_values(['Mike', 18, ['Delta', 'Osun']])

In [ ]:
sales_last_month = {
    "sedan" : 2,
    'Hatchback': 3,
    'SUV': 1.5,
    'Hybrid' : 0
}
print('Sales last Month:', sales_last_month)

Sales last Month: {'sedan': 2, 'Hatchback': 3, 'SUV': 1.5, 'Hybrid': 0}

In [ ]:
sales_last_month['Hatchback'] > sales_last_month['SUV']

True

In [ ]:
print(sales_last_month.keys())

dict_keys(['sedan', 'Hatchback', 'SUV', 'Hybrid'])

In [ ]:
print(sales_last_month.values())

dict_values([2, 3, 1.5, 0])

In [ ]:
sales_last_month['Hybrid'] = 0.25
sales_last_month

{'sedan': 2, 'Hatchback': 3, 'SUV': 1.5, 'Hybrid': 0.25}

In [ ]:
##Comparison Operator - gives answers in true or false
name = 'Runyi'
name == 'Tade'

False

In [ ]:
100 > 1000

False

In [ ]:
if condition:
  xxxxx
  llll
else:
  xxxxx
  vvvvv

In [9]:
cars_ratings ={
    'Sedan_1' : 64,
    'Sedan_2' : 49,
    'Hatchback_1' : 59,
    'Hatchback_2' : 78,
    'Suv_1' : 32,
    'Suv_2': 84,
    'Muv_1' : 21,
    'Muv_2' : 31}
print('Ratings of each car', cars_ratings)

Ratings of each car {'Sedan_1': 64, 'Sedan_2': 49, 'Hatchback_1': 59, 'Hatchback_2': 78, 'Suv_1': 32, 'Suv_2': 84, 'Muv_1': 21, 'Muv_2': 31}

In [10]:
if cars_ratings['Sedan_2'] > 50:
  print('Sedan_2 is good performer')
else:
  print('Sedan_2 is not a good performer')

Sedan_2 is not a good performer

In [15]:
car = "Muv_1"
if cars_ratings[car] > 50:
   print(car, 'is a good performer')
else:
  print(car, 'is not a good performer')

Muv_1 is not a good performer

In [17]:
## if we want to check if all car types are good performers or not, we use for loop
for car in cars_ratings:
  if cars_ratings[car]>50:
    print(car, 'is a good performer')
 ## else:
     ## print(car, 'is not a good performer')

Sedan_1 is a good performer
Hatchback_1 is a good performer
Hatchback_2 is a good performer
Suv_2 is a good performer