<a href="https://colab.research.google.com/github/runyiakoso/FoodXplora-Runyi/blob/master/Python_introduction_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Carsons Ltd.

In [ ]:
print("The name of the Company is Carsons Ltd.")

The name of the Company is Carsons Ltd.

In [ ]:
 print("The Company was establised in", 1996)

The Company was establised in 1996

In [ ]:
##information is stored in variables
company_name = 'Car sons Ltd'
print('The name of the company is', company_name)

The name of the company is Car sons Ltd

In [ ]:
year_started = 1996
print('The year the company was establised was in', year_started)

The year the company was establised was in 1996

In [ ]:
company_turnover = '$12billion'
print("The company's total turnover for", year_started, 'is', company_turnover)

The company's total turnover for 1996 is $12billion

In [ ]:
##Datatypes
type(year_started)

int

In [ ]:
type(company_turnover)

str

In [ ]:
test1 = 123.5
type(test1)

float

In [ ]:
test2= "123"
type(test2)

str

In [ ]:
##Basic Operators
price_sedan = 0.2
print('The Price of 1 Sedan Car is $', price_sedan)
price_updated = price_sedan + price_sedan
print("The price of 2 Sedan Cars is $", price_updated)

The Price of 1 Sedan Car is $ 0.2
The price of 2 Sedan Cars is $ 0.4

In [ ]:
test3 = 10
test4 = 20
print(test4/2)

10.0

In [ ]:
'10'+'10' ##concatenate

'1010'

In [ ]:
"10" * 4

'10101010'

In [ ]:
##sales for the first 10 orders of Sedan cars
price_final=price_sedan * 10
print("Price of 10 Sedan cars in Millions $ is", price_final)

Price of 10 Sedan cars in Millions $ is 2.0

In [ ]:
downtime_hours = 30
total_time = 240
average_downtime = downtime_hours/total_time
print("The average downtime hours for the last month is", average_downtime)

The average downtime hours for the last month is 0.125

In [ ]:
total_employees = 1568
safety_incidents = 44
safety_per_employee = safety_incidents/total_employees
print("the safety incidents per employee is", safety_per_employee)

the safety incidents per employee is 0.02806122448979592

In [ ]:
##Data structure
##List - to store multiple information
cars_type = ['Sedan','Hatchback','SUV',"MUV"]
print('Cars:', cars_type)

Cars: ['Sedan', 'Hatchback', 'SUV', 'MUV']

In [ ]:
milleage = [15, 19, 12,18]
milleage[0]

15

In [ ]:
milleage[-1]

18

In [ ]:
milleage[0:2]

[15, 19]

In [ ]:
milleage[1:3]

[19, 12]

In [ ]:
milleage1 = [15, 19, 12, 18, 45, 50]
milleage1[1:1]=[4,5,6]
print(milleage1)
##print(milleage1[7:9])
print(milleage1[-2:])

[15, 4, 5, 6, 19, 12, 18, 45, 50]
[45, 50]

In [ ]:
sales = [200,652,412,123]
print("The sales values to date are:")
print('sedan:',sales[0])
print('Hatchback:',sales[1])
print('MUV:',sales[2])
print('SUV:', sales[3])
total_sales=sum(sales)
total_sales

The sales values to date are:
sedan: 200
Hatchback: 652
MUV: 412
SUV: 123

1387

In [ ]:
sales.pop(-1)
print(sales)

[200, 652, 412]

In [ ]:
##Tuples - immutable- for fixed values
test=(1,2,3)
type(test)
test[1]
test[0]=20
test
##means, values in tuples cant be changed, hence the error.

TypeError: 'tuple' object does not support item assignment

In [ ]:
##To change elements in tuple, changet the tuple to list
test= list(test)
type(test)
test[0]= 10
test=tuple(test)
test

(10, 2, 3)

In [ ]:
sitting = (5,4,6,8)
print('the number of seats for each type of car are', sitting)
type(sitting)

the number of seats for each type of car are (5, 4, 6, 8)

tuple

In [ ]:
car_engine_size =(2200,2800,2500,2000)
print("The engine size for each car is:")
print("Sedan:",car_engine_size[0])
print("Hatchback:", car_engine_size[1])
print("MUV:", car_engine_size[2])
print("SUV:", car_engine_size[3])

The engine size for each car is:
Sedan: 2200
Hatchback: 2800
MUV: 2500
SUV: 2000

In [ ]:
##Dictionary - Key/value pair
test={
    'name' : 'Runyi',
    'age' : 18,
    'state': 'Lagos'
}
test

{'name': 'Runyi', 'age': 18, 'state': 'Lagos'}

In [ ]:
type(test)

dict

In [ ]:
test['name']

'Runyi'

In [ ]:
 test['name'] ='Mike'
 test

{'name': 'Mike', 'age': 18, 'state': 'Lagos'}

In [ ]:
test['state'] = ['Delta', 'Osun']
test

{'name': 'Mike', 'age': 18, 'state': ['Delta', 'Osun']}

In [ ]:
test.keys()

dict_keys(['name', 'age', 'state'])

In [ ]:
test.values()

dict_values(['Mike', 18, ['Delta', 'Osun']])

In [ ]:
sales_last_month = {
    "sedan" : 2,
    'Hatchback': 3,
    'SUV': 1.5,
    'Hybrid' : 0
}
print('Sales last Month:', sales_last_month)

Sales last Month: {'sedan': 2, 'Hatchback': 3, 'SUV': 1.5, 'Hybrid': 0}

In [ ]:
sales_last_month['Hatchback'] > sales_last_month['SUV']

True

In [ ]:
print(sales_last_month.keys())

dict_keys(['sedan', 'Hatchback', 'SUV', 'Hybrid'])

In [ ]:
print(sales_last_month.values())

dict_values([2, 3, 1.5, 0])

In [ ]:
sales_last_month['Hybrid'] = 0.25
sales_last_month

{'sedan': 2, 'Hatchback': 3, 'SUV': 1.5, 'Hybrid': 0.25}

In [ ]:
##Comparison Operator - gives answers in true or false
name = 'Runyi'
name == 'Tade'

False

In [ ]:
100 > 1000

False

In [ ]:
if condition:
  xxxxx
  llll
else:
  xxxxx
  vvvvv

In [ ]:
cars_ratings ={
    'Sedan_1' : 64,
    'Sedan_2' : 49,
    'Hatchback_1' : 59,
    'Hatchback_2' : 78,
    'Suv_1' : 32,
    'Suv_2': 84,
    'Muv_1' : 21,
    'Muv_2' : 31}
print('Ratings of each car', cars_ratings)

Ratings of each car {'Sedan_1': 64, 'Sedan_2': 49, 'Hatchback_1': 59, 'Hatchback_2': 78, 'Suv_1': 32, 'Suv_2': 84, 'Muv_1': 21, 'Muv_2': 31}

In [ ]:
if cars_ratings['Sedan_2'] > 50:
  print('Sedan_2 is good performer')
else:
  print('Sedan_2 is not a good performer')

Sedan_2 is not a good performer

In [ ]:
car = "Muv_1"
if cars_ratings[car] > 50:
   print(car, 'is a good performer')
else:
  print(car, 'is not a good performer')

Muv_1 is not a good performer

In [ ]:
## if we want to check if all car types are good performers or not, we use for loop
for car in cars_ratings:
  if cars_ratings[car]>50:
    print(car, 'is a good performer')
 ## else:
     ## print(car, 'is not a good performer')

Sedan_1 is a good performer
Hatchback_1 is a good performer
Hatchback_2 is a good performer
Suv_2 is a good performer

# Mobile Store

In [ ]:
price = 900
print('The Price of the Mobile is $',price, sep='')

The Price of the Mobile is $900

In [ ]:
brand = 'Apple'
print('The brand of the mobile phone is', brand)

The brand of the mobile phone is Apple

In [ ]:
ram = 4
print('The RAM of the mobile is',ram, 'GB')

The RAM of the mobile is 4 GB

In [ ]:
storage = 128
print('The internal storage of the Mobile is',storage,'GB')

The internal storage of the Mobile is 128 GB

In [ ]:
is_billed = True

print(is_billed)

True

In [ ]:
type(price)

int

In [ ]:
type(brand)

str

In [ ]:
type(is_billed)

bool

In [ ]:
#Let's assume a customer buys 2 phones, the total bill will be?
bill = price * 2
print('The bill amount is $',bill,sep='')

The bill amount is $1800

In [ ]:
# Assuming the store provides a discount of $15 on the apple phone, what will be the price of the phone after discount
price = 900
discount = 15
price_after_discount = price - discount
print('The price of Phone after discount is $',price_after_discount,sep="")

The price of Phone after discount is $885

In [ ]:
#Assuming the customer bought 2 phones for $1000, find the price of 1 phone
bill = 1000
price = bill // 2 #double 'divided by' makes the output an integer
print('The price of 1 phone is $',price,sep='')

The price of 1 phone is $500

In [ ]:
price = 900
discount = price * 0.045
discounted_price = price - discount
print('the discounted price of the phone is $' + str(discounted_price))

the discounted price of the phone is $859.5

In [ ]:
#checking data types of variables
print('The data type of variable price is', type(price))
print('The data type for variable discount is', type(discount))

The data type of variable price is <class 'int'>
The data type for variable discount is <class 'float'>

In [ ]:
#Lets add brand, ram and storage variables
brand = "apple"
ram = 4
print(brand + ' '+ str(ram) + 'GB') #note that you cant concatenate str and int

apple 4GB

In [ ]:
#List- stores several items in square brackets
brand_list =['Apple', 'Samsung', 'LG', 'Apple']
ram_list =[4,12,8,8]
storage_list =[128,128,64,128]
price_list =[900,899,600,1000]
print('RAM list -', ram_list)
print('Storage list -', storage_list)
print('Price List -', price_list)
brand_length = len(brand_list)
print('The number of brands is', brand_length)
max_price = max(price_list)
print('The maximum price is $',max_price, sep="")
min_price = min(price_list)
print('The Minimum Price is $', min_price, sep="")
third_value_in_ram_list = ram_list[2] #starting from the 0, the 3rd value will be 8
print(third_value_in_ram_list)
print(price_list[1])
print(price_list[0:3])
print(price_list[-1])
print(price_list[-2])
brand_list[3] = 'Techno'
print(brand_list)
new_list = brand_list.pop(1)
print(new_list)
brand_list.append('Nokia')
print(brand_list)
print(brand_list[2])

RAM list - [4, 12, 8, 8]
Storage list - [128, 128, 64, 128]
Price List - [900, 899, 600, 1000]
The number of brands is 4
The maximum price is $1000
The Minimum Price is $600
8
899
[900, 899, 600]
1000
600
['Apple', 'Samsung', 'LG', 'Techno']
Samsung
['Apple', 'LG', 'Techno', 'Nokia']
Techno

In [ ]:
#Tuples - stores items in a parenthesis bracket and is immutable. use if for values
storage = (32,64,128,256,[1,2,3,5])
print(storage)
print(storage[1])
print(storage[-1])

(32, 64, 128, 256, [1, 2, 3, 5])
64
[1, 2, 3, 5]

In [ ]:
age = (19,18,25,90)
new_age = list(age) #converted it to list to make a change
new_age[-1] = 92 #changed the last digit
age = tuple(new_age) #converted it back to tuple
print(age)
#output should be (19,18,25,92)

TypeError: 'list' object is not callable

In [ ]:
#Dictionary - Key : Value pairs inside {}
attributes = {
    'brand' : 'Apple',
    'Ram' : 4,
    'Storage' : 128,
    'Price' : 900
}
print(attributes)
type(attributes)
price = attributes['Price']
print('price is $', price, sep='')
attributes['Price'] = 1000
print(attributes)
attributes.pop('Storage')
print(attributes)

{'brand': 'Apple', 'Ram': 4, 'Storage': 128, 'Price': 900}
price is $900
{'brand': 'Apple', 'Ram': 4, 'Storage': 128, 'Price': 1000}
{'brand': 'Apple', 'Ram': 4, 'Price': 1000}

In [ ]:
#we can have lists in dictionaries
brand_list = ['Apple', 'Lg']
ram_list =[4,8]
storage_list = [124, 256]
price_list = [900, 300]
product ={
    "Brand" : brand_list,
    "RAM" : ram_list,
    "Storage" : storage_list,
    "Price" : price_list
}
print(product)
keys = product.keys()
print('The Keys of the dictionary are :\n', keys)
values = product.values()
print('The Values of this dictionary are :\n', values)
product['RAM'][1]

{'Brand': ['Apple', 'Lg'], 'RAM': [4, 8], 'Storage': [124, 256], 'Price': [900, 300]}
The Keys of the dictionary are :
 dict_keys(['Brand', 'RAM', 'Storage', 'Price'])
The Values of this dictionary are :
 dict_values([['Apple', 'Lg'], [4, 8], [124, 256], [900, 300]])

8

In [ ]:
#conditional statement
price = 500
budget = int(input("What's your Budget? :"))
if price <= budget:
  print('Congrats! You can make a purchase')
else:
  print('Sorry! You are not eligible')

What's your Budget? :400
Sorry! You are not eligible

In [ ]:
memory = int(input('Enter phone memory: '))
if memory == 32:
  print('The price of the phone is $600')
elif memory == 64:
  print('The price of the phone is $800')
elif memory == 128:
  print('The price of the phone is $1000')
else:
  print('Enter a valid Memory requirement')

Enter phone memory: 128
The price of the phone is $1000

In [ ]:
A = int(input())
B = int(input())
C = A * B
C

10
12

120

In [ ]:
#Loops - repeats a bunch of codes a bunch of times - for loop i.e for a number of times do this
#range is used for looping
print(range(6)) #it prints out 0 - 5. the output range(0,6) means start at 0, end at "before 6" just like list

range(0, 6)

In [ ]:
print(list(range(6))) # this changes the range to a list

[0, 1, 2, 3, 4, 5]

In [ ]:
print(list(range(2,6)))

[2, 3, 4, 5]

In [ ]:
print(list(range(6, 14, 2))) #start at 6, stop at "before 14" in step of 2's

[6, 8, 10, 12]

In [ ]:
#what is the discount price for 5%, 10%, 15%, 20% . we use range when the list is enormous
price = 900
for i in range(5, 21, 5): #means start from 5, end 'before 21' in steps of 5
      discount = price * i/100
      discount_price = price - discount
      print('The discount price for ', i , '% is $', discount_price, sep="")

The discount price for 5% is $855.0
The discount price for 10% is $810.0
The discount price for 15% is $765.0
The discount price for 20% is $720.0

In [ ]:
sum = 0
for n in range(1,5):
  sum = sum + n
  print(sum)

1
3
6
10

In [ ]:
#While Loop - run the code inside a loop as many times as this condition is satisfied
#It's used when a condition is true
price = 900
i = 5
while i <= 20:
  discount = price * (i/100)
  discount_price = price - discount
  print('The discount price for ', i, '% is $', discount_price, sep='')
  i+=5

The discount price for 5% is $855.0
The discount price for 10% is $810.0
The discount price for 15% is $765.0
The discount price for 20% is $720.0

In [ ]:
#List Comprehension - to create a list with a loop
# we want to know the discounted prices for all the product
price_list = [900,899,600,1000]
discount_price_list= []
for x in price_list:
  discount_price = x - (x * 5/100)
  discount_price_list.append(discount_price)
  print(discount_price_list)

[855.0]
[855.0, 854.05]
[855.0, 854.05, 570.0]
[855.0, 854.05, 570.0, 950.0]

In [ ]:
#another way of doing it
discount_price_list = [x-(x*5/100)for x in price_list]
print(discount_price_list)

[855.0, 854.05, 570.0, 950.0]

In [ ]:
budget = int(input('Enter your budget:'))

within_budget =['yes' if x <= budget else 'no' for x in discount_price_list]
print(within_budget)

Enter your budget:1000
['yes', 'yes', 'yes', 'yes']

In [10]:
#Functions - a block of instruction that performs a specific task
def phone_attributes():
    brand = "Apple"
    price = 900
    ram = 4
    storage= 128
    print('The', brand,' phone has ', ram, 'GB RAM, ' , storage, 'GB storage and it cost $', price, sep='')

In [14]:
phone_attributes()

The apple phone has 4GB RAM128GB storage and it cost $900

In [27]:
 phone_attributes('apple', 900, 4, 128)

The apple phone has 4GB RAM 128 GB storage and it cost $900

#Exercise

In [1]:
n = 8
for i in range(1, 11):
 print("{} ^ {} =".format(n, i), n**i)

8 ^ 1 = 8
8 ^ 2 = 64
8 ^ 3 = 512
8 ^ 4 = 4096
8 ^ 5 = 32768
8 ^ 6 = 262144
8 ^ 7 = 2097152
8 ^ 8 = 16777216
8 ^ 9 = 134217728
8 ^ 10 = 1073741824

In [1]:
#Block Sam inside campus
name = input('Enter your name: ')
if name=='sam':
  print('You cant enter campus')
else:
  print('You can enter the campus')

Enter your name: Runyi
You can enter the campus

In [3]:
#stop sam from using other names
name = input('Enter your name: ')
if name == "sam" or name =='tade' or name =='emma':
  print('Access Denied!')
else:
  print('Access Granted')

Enter your name: sam
Access Denied!

In [4]:
#Code to return only elements from the dictionary that are greater than 25.
dict={'a':23, 'b':40, 'c':34, 'd':50, 'e':19}
dict_value = []
if dict['a'] > 25:
  dict_value.append(dict['a'])
if dict['b']>25:
  dict_value.append(dict['b'])
if dict['c']>25:
  dict_value.append(dict['c'])
if dict['d']>25:
  dict_value.append(dict['d'])
if dict['e']>25:
  dict_value.append(dict['e'])
dict_value

[40, 34, 50]

In [5]:
#to calucate the total amount for all phones ordered
def total_prices(*args):
  total = 0
  for arg in args:
    total += arg

  return total
print('The total amount for all phones ordered: ', total_prices(200, 400,100, 566, 190, 390, 560, 789, 101))

The total amount for all phones ordered:  3296

In [6]:
import random
random_val = random.randint(1,50)
user = int(input('enter numbers 1 to 50: '))
if random_val == user:
    print('You got it right !!')
    print('random value is: ',random_val)
elif random_val > user:
    print('Nope !! little higher')
    print('random value is: ',random_val)
else:
    print('Nope!! little lower')
    print('random value is: ',random_val)

enter numbers 1 to 50: 2
Nope !! little higher
random value is:  50